In [3]:
import pandas as pd

df = pd.read_csv("analysis_dataframe2.csv")
df.head()

,Unnamed: 0,Player,Tm,Pos,Age,MP,Team Performance,Season,Composite
0,0,Jason Terry,ATL,PG,22,1888,Average,1999-2000,0.209845
1,1,LaPhonso Ellis,ATL,PF,29,1309,Average,1999-2000,0.189767
2,2,Matt Maloney,ATL,PG,29,1403,Average,2000-2001,0.164912
3,3,DerMarr Johnson,ATL,SF,20,1313,Average,2000-2001,0.096842
4,4,Jacque Vaughn,ATL,PG,26,1856,Average,2001-2002,0.199747

# Steps to analyze / visualize this data

<ol>
<li>Descriptive stats </li> - 1. Find average age of these Sixth Men 2. Group data and find average PIE to see if there is any noticable difference between the top, average, and medium teams 3. Finally, look for changes in usages through different generations 
<li>Visualizations</li> - 1. Bar charts showing average PIE for sixth men in top, average, and bottom teams. maybe : Heatmap of PIE vs. Team Performance2. A scatter plot showing age on the x-axis and PIE on the y-axis. 3. Violin Plot for PIE by Position 4. Line graphs showing the change in average PIE of sixth men over the seasons 5. Box Plot of Age Groups and PIE
<li>Advanced Analysis</li> 1. Association Rules Mining: Explore the relationship between team success and the characteristics of its sixth man using association rules mining.e.g. "Teams with sixth men aged over 30 and with a PIE above X tend to finish in the top Y%." 2. Cluster Analysis: Perform cluster analysis to segment sixth men into distinct groups based on multiple factors like PIE, age, minutes played, and team performance. This could reveal unique profiles of sixth men, such as high-impact veterans or efficient young talents.
</ol>

## Let's start with descriptive Stats

In [7]:
average_age = df.loc[:, 'Age'].mean() #calculating average
print(f"Average Age of Sixth Men: {average_age} | Average age in NBA : 26.18 ")

Average Age of Sixth Men: 26.365734265734265 | Average age in NBA : 26.18

In [1]:
#grouping the different team performances
top_teams = df[df["Team Performance"] == "top"]
mid_teams = df[df["Team Performance"] == "Average"]
bottom_teams = df[df["Team Performance"] == "bottom"] 

#averaging the groups
averageTopPIE =  top_teams.loc[:, 'Composite'].mean() 
averagemidPIE = mid_teams.loc[:, 'Composite'].mean() 
averageBotPIE = bottom_teams.loc[:, 'Composite'].mean() 

print(f"average PIE score of sixth man on top team : {averageTopPIE} | average PIE score of sixth man on average team : {averagemidPIE} | average PIE score of sixth man on bottom team : {averageBotPIE}")

NameError: name 'df' is not defined