In [4]:
import pandas as pd

df = pd.read_csv("analysis_dataframe2.csv")

df.head()

,Unnamed: 0,Player,Tm,Pos,Age,MP,Team Performance,Team Performance (20),Season,Composite,ORtg,DRtg
0,0,Jason Terry,ATL,PG,22,1888,Average,bottom,1999-2000,0.209845,100.0,108.0
1,1,LaPhonso Ellis,ATL,PF,29,1309,Average,bottom,1999-2000,0.189767,103.0,108.0
2,2,Matt Maloney,ATL,PG,29,1403,Average,bottom,2000-2001,0.164912,100.0,107.0
3,3,DerMarr Johnson,ATL,SF,20,1313,Average,bottom,2000-2001,0.096842,88.0,106.0
4,4,Jacque Vaughn,ATL,PG,26,1856,Average,Average,2001-2002,0.199747,110.0,109.0

Here, I will be utilizing something called association mining to look for trends / relationships in my data.

To do this, I need to have rows of binary data. for example, instead of having a column "Team Performance" with however a team did, I would have a column "Top Team" and the number being 0 or 1. 

I think I will do this technic with Position, Age (ranges), Season (ranges), Composite scores, ORtg, DRtg, and Team Performance (with 20 percentile)

Support 
Confidence
Lift

In [9]:
#calculating the percentile numbers
top_25_cutoff = df['Composite'].quantile(0.75)
bottom_25_cutoff = df["Composite"].quantile(0.25)

df['Top_25_Composite'] = (df['Composite'] >= top_25_cutoff).astype(int)
df['Bottom_25_Composite'] = (df['Composite'] >= bottom_25_cutoff).astype(int)

Bottom_25_Composite
1    1072
0     358
Name: count, dtype: int64